body{
    text-align: center;
}
.btn{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 7px solid black;
    margin: 1rem;
}
.btn-container{
    display: flex;
    justify-content: center;
}
.red{
    background-color: #d95980;
}
.yellow{
    background-color: #f99b45;
}
.green{
    background-color: #63aac0;
}
.purple{
    background-color: #2d4898;
}
.gameflash{
    background-color: white;
}
.userflash{
    background-color: black;
}
